<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Petzy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />       
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Pets/Index">Petzy</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-dark" asp-page="/Pets/Index">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-dark" asp-page="/Breeds/Index">Breeds</a>
                    </li>                    
                    <!-- Add more links as needed -->
                </ul>
            </div>
       </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>    

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
