@page
@model WebApp.Pages.Pets.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2 class="my-4">Edit pet</h2>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Pet.Id" />
                <label asp-for="Pet.Name"></label>
                <input asp-for="Pet.Name" class="form-control" />
                <span asp-validation-for="Pet.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.City"></label>
                <input asp-for="Pet.City" class="form-control" />
                <span asp-validation-for="Pet.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pet.AgeInMonths"></label>
                <input asp-for="Pet.AgeInMonths" class="form-control" />
                <span asp-validation-for="Pet.AgeInMonths" class="text-danger"></span>
            </div>
            <div class="form-group form-check mt-1">
                <input asp-for="Pet.IsVaccinated" class="form-check-input" />
                <label asp-for="Pet.IsVaccinated"> </label>
            </div>
            <div class="form-group">
                <label asp-for="Pet.Gender"></label>
                <select asp-for="Pet.Gender" asp-items="Model.DropDownItems" class="form-control"></select>

            </div>
            <button type="submit" class="btn btn-primary mt-3">Save</button>
        </form>
    </div>
    <div class="mt-3">
        <a asp-page="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}