@page
@model WebApp.Pages.Pets.IndexModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Welcome to the Pets index page!</h1>
        <p>Our first pet is: @Model.FirstPetName and he is cute!</p>
        <p>Our second pet is: @Model.SecondPetName and she is smart!</p>
    </div>
</body>
</html>
